@import 'partials/type-scale';
@import 'partials/mixins';
@import 'partials/media-query';


:root {
  --clr-bg: rgb(255, 255, 255);
  --clr-text: rgb(30, 36, 46);
  --clr-accent: rgb(200, 101, 103);
  --clr-neutral: rgb(45, 54, 67);

  --ff-400: "Open Sans", sans-serif;
  --ff-500: "Arimo", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  @each $font-size, $value in $font-sizes {
    --fs-#{$font-size}: #{$value};
   }
  
}

*,
*::after,
*::before {    
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

html, body {
    scroll-behavior: smooth;
    min-height: 100vh;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p:not([class]) {
  max-width: 60ch;
}

form input,
form textarea {
  border-radius: 3px;
}

header {
  margin-top: 3em;
  margin-bottom: 5em;  
  display: flex;
}

header > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// --------------------------------------------------------utility classes

.even-columns {
  display: grid;
  gap: 3rem;  
  
  @include mq(medium) {    
    grid-auto-flow: column;
    grid-auto-columns: 1fr;   
  }
}

.text-center > * {
  margin-inline: auto;
}

.accent-text {
  color: var(--clr-accent);
  font-size: var(--fs-400);
}

.page-title {
  font-family: var(--ff-500);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);

  max-width: 25ch;  
  line-height: 1;
}

.subtitle {
  font-family: var(--ff-500);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1;
  letter-spacing: 1.7px;  
}

.title-space {
  margin-top: .2em;
  margin-bottom: 1em;
}

.socials {  
    display: flex;
    gap: 1em;

    i {
      color: var(--clr-bg);
      font-size: var(--fs-400);
    }
  
}

// --------------------------------------------------------general styling

body {
  font-family: var(--ff-400);
  font-size: var(--fs-400);
  color: var(--clr-text);
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;  
}

.wrapper>* {
  min-width: 0;
}

main {
  flex: 1 1 auto;
}

section:not(:first-child) {
  margin-top: 3em;
}

[class*=__container] {
  max-width: 95vw;
  margin: 0 auto;
  padding: 1.2em;
}
@include mq(small) {
  [class*=__container] {
    max-width: 90vw;
  }
}

@include mq(extra-large) {
  [class*=__container] {
    max-width: 65vw;

  }
}

// --------------------------------------------------------header

.intro__container {

  .logo {
    align-items: flex-start;
    gap: .5em;


    p:first-of-type {
      position: relative;
  
      &::after {
        content: "";
        background: var(--clr-text);
        position: absolute;      
        bottom: -5px;      
        left: 0;
        height: 7px;
        width: 35px;
      }
    }
  }


  .intro__contacts {
    align-items: flex-end;
    position: relative;

    &::after {
      content: "";
      background: var(--clr-text);
      position: absolute;      
      top: 5em;      
      right: 0;
      height: 7px;
      width: 35px;
    }

    p:last-of-type {
      color: var(--clr-accent);
      font-weight: var(--fw-bold);
      font-size: var(--fs-400);
    }
  }

}


// --------------------------------------------------------intro 

.intro__content {

  .intro__title {
    align-items: flex-start;     
  }

  .intro--big-title {
    margin-bottom: 3em;
  }

}

.form-wrapper {
  @include color-scheme(var(--clr-accent), var(--clr-text));
  padding: 3em 1.8em 1em 1.8em;
  max-width: 370px;
  justify-self: center;

  @include mq(medium) {
    justify-self: end;
  }

  .intro__form > p {
    color: var(--clr-bg);
    font-size: var(--fs-300);
    margin-bottom: 1.2em;
  }
  
  .form-item span {
    color: var(--clr-bg);
    font-size: var(--fs-300);
  }


  .form-item {
  display: grid;
  margin-bottom: .8em;
  }

  .form-item input[type="submit"] {
    background-color: var(--clr-accent);
    margin-bottom: 1.5em;

    &:hover {
      background-color: rgb(223 88 91);
      color: var(--clr-bg);
    }
  }
  
}

// --------------------------------------------------------details

.details__container {

  @include mq(medium) {
    .details__item:nth-child(2) {
      margin-left: 2em;
    }
  }

  @include mq(large) {
    .details__item:nth-child(2) {
      margin-left: 2em;
    }
    .even-columns:has(.details__item) {
      grid-auto-columns: 1.5fr 1fr;
    }
  }

  .details__item p {
    margin-bottom: .7em;
  }

  .details__item:nth-child(2) > p {
    align-self: flex-start;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
  }

  table {
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }
}

// --------------------------------------------------------explore

.explore__container {

  .explore__item:nth-child(2) {
    margin-top: 4em;
  }

  .explore__icon {
    display: grid;
    justify-items: center;
    gap: 1em;

    .icon--bg {
      background-color: var(--clr-neutral); 
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center; 
      align-items: center;
      position: relative;

      &::before {
        content: "";
        width: 100px;
        height: 100px;
        border: 6px solid var(--clr-accent);
        position: absolute;
        top: -14px;
        left: -14px;
        z-index: -1;
      }
  
      svg {
        fill: var(--clr-accent);
      }
    }    
  }
}

// --------------------------------------------------------footer

footer {
  @include color-scheme(var(--clr-bg), var(--clr-text));
  padding-block: 2em;
  margin-top: 4em;
  
  h2,
  a {
    color: var(--clr-accent);
  }

  .footer__container {
    align-items: end;
    justify-items: end;
  }

  .footer__about p:last-of-type {    
    margin-block: 1em;
  }

}


