@import 'partials/type-scale';
@import 'partials/mixins';
@import 'partials/media-query';


:root {
  --clr-bg: rgb(255, 255, 255);
  --clr-text: rgb(30, 36, 46);
  --clr-accent: rgb(200, 101, 103);
  --clr-neutral: rgb(45, 54, 67);

  --ff-400: "Open Sans", sans-serif;
  --ff-500: "Arimo", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;

  @each $font-size, $value in $font-sizes {
    --fs-#{$font-size}: #{$value};
   }

  //  --ff-body: var(--ff-400);
  //  --ff-heading: var(--ff-500);

  //  --fs-body: var(--fs-400);
  //  --fs-primary-heading: var(--ff-600);
  //  --fs-sub-heading: var(--fs-500);
  //  --fs-large-heading: var(--800);
  //  --fs-title: var(--900);
}

*,
*::after,
*::before {    
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

html, body {
    scroll-behavior: smooth;
    min-height: 100vh;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p:not([class]) {
  max-width: 60ch;
}

form input,
form textarea {
  border-radius: 3px;
}

header {
  margin-top: 3em;
  margin-bottom: 5em;
}

// --------------------------------------------------------utility classes

.even-columns {
  display: flex;
  gap: 3rem;
}

.even-columns > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center > * {
  margin-inline: auto;
}

.page-title {
  font-family: var(--ff-500);
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);

  max-width: 25ch;  
  line-height: 1;
}

.subtitle {
  font-family: var(--ff-500);
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  line-height: 1;
  letter-spacing: 2px;
}

// --------------------------------------------------------general styling

body {
  font-family: var(--ff-400);
  font-size: var(--fs-400);
  color: var(--clr-text);
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;  
}

.wrapper>* {
  min-width: 0;
}

main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 70vw;
  margin: 0 auto;
  padding: 1.2em;
}

@include mq(medium) {
  [class*=__container] {
    max-width: 60vw;

  }
}

// --------------------------------------------------------header

.intro__container {

  .logo {
    align-items: flex-start;
    gap: .5em;


    p:first-of-type {
      position: relative;
  
      &::after {
        content: "";
        background: var(--clr-text);
        position: absolute;      
        bottom: -5px;      
        left: 0;
        height: 7px;
        width: 35px;
      }
    }
  }


  .intro__contacts {
    align-items: flex-end;
    position: relative;

    &::after {
      content: "";
      background: var(--clr-text);
      position: absolute;      
      top: 5em;      
      right: 0;
      height: 7px;
      width: 35px;
    }

    p:last-of-type {
      color: var(--clr-accent);
      font-weight: var(--fw-bold);
      font-size: var(--fs-400);
    }
  }

}


// --------------------------------------------------------intro 

.intro__content {

  .intro__title {
    align-items: flex-start; 

    > p:first-of-type {
      color: var(--clr-accent);
      font-size: var(--fs-400);
    }
  }

  .intro--big-title {
    margin-bottom: 3em;
  }

}

.form-wrapper {
  @include color-scheme(var(--clr-accent), var(--clr-text));
  padding: 3em 1.8em 1em 1.8em;
  max-width: 370px;
  align-self: flex-end;

  .intro__form > p {
    color: var(--clr-bg);
    font-size: var(--fs-300);
    margin-bottom: 1.2em;
  }
  
  .form-item span {
    color: var(--clr-bg);
    font-size: var(--fs-300);
  }


  .form-item {
  display: grid;
  margin-bottom: .8em;
  }

  .form-item input[type="submit"] {
    background-color: var(--clr-accent);
    margin-bottom: 1.5em;

    &:hover {
      background-color: rgb(223 88 91);
      color: var(--clr-bg);
    }
  }
  
  .intro_socials {
    display: flex;
    gap: 1em;

    i {
      color: var(--clr-bg);
      font-size: var(--fs-400);
    }
  }


}


